<p id="notice"><%= notice %></p>

<p>
  <b>F prod:</b>
  <%= @prod.f_prod_id %>
</p>

<p>
  <b>F prod name:</b>
  <%= @prod.f_prod_name %>
</p>

<p>
  <b>F if 3g:</b>
  <%= @prod.f_if_3g %>
</p>

<p>
  <b>F prod type:</b>
  <%= @prod.f_prod_type %>
</p>

<p>
  <b>F service kind:</b>
  <%= @prod.f_service_kind %>
</p>

<%= link_to 'Back', prods_path %>
