<%= form_for(@input) do |f| %>
  <% if @input.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@input.errors.count, "error") %> prohibited this asset from being saved:</h2>

      <ul>
      <% @input.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description, '备注' %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.fields_for :asset do |asset_form| %>
      <%= asset_form.label :uploaded_file, '附件' %>
      <%= asset_form.file_field :uploaded_file %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit 'Upload' %>
  </div>
<% end %>
