<%= will_paginate @posts, :class => 'apple_pagination' %>

<% @posts.each do |post| %>
  <article class="post post-item">
    <a href="#" class="pull-right">
      <%= gravatar_for(current_user) %>
    </a>
    <div class="post-body">
      <a href="#">
        <h2 class="post-heading"><%= post.title %></h2>
      </a>
      <%= post.body %>
    </div>
    <div class="post-footer">
      <%= link_to 'Read more', post %>
    </div>
  </article>
<% end %>
</table>
<br />
<%= link_to 'New Post', new_post_path, :class => 'btn btn-success btn-large'%>
