<%= will_paginate @posts, :class => 'apple_pagination' %>

<% @posts.each do |post| %>
  <article class="post post-item">
    <a href="#" class="pull-right">
      <%= gravatar_image_tag(post.user.email,:alt => post.user.email, :gravatar => { :size => 50 }, :class => "img-circle") %>
    </a>
    <div class="post-body">
      <%= link_to post.title, post, class: " h2 post-heading" %></br>
      <%= post.body.html_safe %>
    </div>
    <div class="post-footer">
      <%= link_to 'Read more', post %>
    </div>
  </article>
<% end %>
</table>
<br />
<%= link_to 'New Post', new_post_path, :class => 'btn btn-success btn-large'%>
