<%= will_paginate @posts, :class => 'apple_pagination' %>

<% @posts.each do |post| %>
    <div class="h2 page-header">
      <%= link_to post.title, post %>
      <a href="#" class="pull-right">
        <%= gravatar_image_tag(post.user.email,:alt => post.user.email, :gravatar => { :size => 40 }, :class => "img-circle") %>
      </a>
    </div>
    <div class="">
      <%= post.body.html_safe %>
    </div>
    <div class="">
      <%= link_to 'Read more', post %>
    </div>
<% end %>
<br />
<%= link_to 'New Post', new_post_path, :class => 'btn btn-success btn-large'%>
