<h1>客户信息查询</h1>
<form accept-charset="UTF-8" action="/customer/info" method="post">
  <label for="q">客户服务号码:</label>
  <input id="service_id" name="service_id" type="text" />
  <input name="commit" type="submit" value="查询" />
</form>
<br/>
<% if @customer %>
  <span class="label label-info"><%= @customer.service_id %></span>
  <table class="table">
    <tr>
      <th>
        用户名
      </th>
      <th>
        业务类型
      </th>
      <th>
        付费类型
      </th>
      <th>
        套餐类型
      </th>
      <th>
        套餐
      </th>
      <th>
        县分网格
      </th>
      <th>
        渠道
      </th>
      <th>
        发展人
      </th>
      <th>
        状态
      </th>
      <th>
        入网日期
      </th>
    </tr>
    <tr>
      <td>
        <%= @customer.first_name %>
      </td>
      <td>
        <%= @customer.service_name %>
      </td>
      <td>
        <% if @customer.pay_type == 2%>
          预付费
        <% else %>
          后付费
        <% end %>
      </td>
      <td>
        <%= @customer.if_3g %>
      </td>
      <td>
        <%= @customer.prod_name %>
      </td>
      <td>
        <%= @customer.area_name %>
      </td>
      <td>
        <%= @customer.dealer_name %>
      </td>
      <td>
        <%= @customer.developer_name %>
      </td>
      <td>
        <%= @customer.status_name %>
      </td>
      <td>
        <%= @customer.birthday.localtime.to_s(:db) %>
      </td>
    </tr>
  </table>
  <form accept-charset="UTF-8" action="/customer/bill" method="post">
    <input id="user_id" type="hidden" name="user_id" value="<%= @customer.user_id %>" type="text" />
    <input id="pay_type" type="hidden" name="pay_type" value="<%= @customer.pay_type %>" type="text" />
    <input name="commit" type="submit" value="当月账单" />
  </form>
<% end %>
