<h1>客户信息查询</h1>
<form accept-charset="UTF-8" action="/customer/info" method="post">
  <label for="q">客户服务号码:</label>
  <input id="service_id" name="service_id" type="text" />
  <input name="commit" type="submit" value="查询" />
</form>

<% if @customer %>
  <table class="table">
    <tr>
      <th>
        服务号码
      </th>
      <th>
        业务类型
      </th>
      <th>
        付费类型
      </th>
      <th>
        套餐类型
      </th>
      <th>
        县分网格
      </th>
      <th>
        渠道
      </th>
      <th>
        发展人
      </th>
      <th>
        状态
      </th>
      <th>
        套餐
      </th>
      <th>
        入网日期
      </th>
    </tr>
    <tr>
      <td>
        <%= @customer.service_id %>
      </td>
      <td>
        <%= @customer.service_name %>
      </td>
      <td>
        <%= @customer.pay_type %>
      </td>
      <td>
        <%= @customer.if_3g %>
      </td>
      <td>
        <%= @customer.area_name %>
      </td>
      <td>
        <%= @customer.dealer_name %>
      </td>
      <td>
        <%= @customer.developer_name %>
      </td>
      <td>
        <%= @customer.status_name %>
      </td>
      <td>
        <%= @customer.prod_name %>
      </td>
      <td>
        <%= @customer.birthday %>
      </td>
    </tr>
  </table>
<% end %>
